<nav class="navbar-default navbar-static-side " role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <li class="nav-header">

        <div class="dropdown profile-element">
                           <img alt="image" width="110" src="<%= image_url('logo.png') %>" />

          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold center-block">Usuario</strong>
                            </span> <span class="text-muted text-xs block center-block">Opciones: <b class="caret"></b></span>
                        </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="">Cambiar Clave</a></li>
            <li class="divider"></li>
            <li><a href="">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          <img alt="image" width="90px"  src="<%= image_url('logo.png') %>" />
        </div>
      </li>
      <li>
        <a href=""><i class="fa fa-envelope-o"></i> <span class="nav-label">Inbox</span> </a>

      </li>
      <li>
        <a href=""><i class="fa fa-paper-plane-o"></i> <span class="nav-label">Enviados</span> </a>

      </li>
      <li>
        <a href=""><i class="fa fa-trash"></i> <span class="nav-label">Borrado</span> </a>

      </li>



        </ul>
      </li>



    </ul>

  </div>
</nav>